$white: white;
$grey: #3b3b3b;
$light-grey: rgb(146, 145, 145);
$orange: orange;
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');
$lato_font: 'Lato', sans-serif;
$oswald_font: 'Oswald', sans-serif;
$bg_image: url('../assets/bg.jpg');

html, 
body {
  padding: 0;
  margin: 0;
  font-family: $lato_font;
  font-family: $oswald_font;
  text-align: center;
}

body {
  header {
    margin-top: -20px;
    background-color: $white;
    height: 90px;

    ul {
      margin-top: -20px;
      background-color: $grey;
      height: 50px;
    }

    li {
      color: $light-grey;
      font-size: 1.5em;
      display: inline;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      color: $orange;
    }
  }

  main {
    margin-top: 15px;
    margin-bottom: -20px;
    min-height: calc(90vh - 50px);
    background-image: $bg_image;

    #container {
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: white;

/*      box-shadow: -1px 1px 10px $grey;
        margin: 20px;
        width: 300px;
        height: 350px;
        background: $white;
        display: inline-block; */
      }


  }

  footer {
    margin-bottom: -50px;
    background-color: $grey;
  }
}